th a { cursor: pointer; }
h1 button { float: right; }
input { margin: 20px 0 10px; }
.user-list-enter, .user-list-leave-active {
  display: none;
}
.user-list-move {
  transition: transform .5s;
}


.game
{
    font-weight: bold;
}

.Legend
{
    color: #bb1f1f;
}

.Gold
{
    color: #ffd700;
}

.Silver
{
    color: #c0c0c0;
}

.Bronze
{
    color: #cd7f32;
}

.Wood
{
    color: #00cc00;
}

.undefined
{
    color: #888888;
}

.no_league
{
    color: #cc88cc
}

.first
{
    font-weight: bold;
}

a
{
    color: white;
}
