body {
    height: 100%;
    background-color: #eee;
}
body {
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
} 



.game
{
    font-weight: bold;
}

.Legend
{
    color: #fc3030;
}

.Gold
{
    color: #f3d31e;
}

.Silver
{
    color: #d4d4d4;
}

.Bronze
{
    color: #dd964e;
}

.Wood
{
    color: #68d668;
}


.no_league
{
    color: #ccb1ff
}

.first
{
    font-weight: bold;
}

a
{
    color: #dddddd;
}

a:hover
{
    color: #ffffff;
}
.title
{
    padding: 20px 50px;
}